<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>-->



<div class="row">
  <div class="col-md-2">
    <img src="https://firebasestorage.googleapis.com/v0/b/cv-project-6fa7f.appspot.com/o/photo.jpeg?alt=media&token=ca83337b-7a53-4ee2-8315-f174f248030a" alt="" class="img-thumbnail">
  </div>
  <div class="col-md-10">
    <h2>{{user?.name}}</h2>
    <p>{{user?.sex}}, {{user?.age}} , родился {{user?.born}}</p>
    <p><span>Контакты:</span></p>
    <p><span>Телефон:</span> {{user?.phone}} </p>
    <p><span>email:</span> {{user?.email}}</p>
    <p><span>Sqype:</span> {{user?.sqype}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4><span>Желаемая должность и зарплата:</span></h4>
  </div>
  <div class="col-md-10">
    <h3>{{user?.position}}</h3>
  </div>
  <div class="col-md-2">
    <h3>{{user?.salary}}</h3></div>
</div>
<div class="row">
  <div class="col-md-12">
    <p><Span>Профессиональная область:</Span></p>
    <p>{{user?.area}}</p>
    <p><span>Занятость:</span> {{user?.employment}}</p>
    <p><span>График работы:</span> {{user?.schedule}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4><span>Опыт работы:</span></h4>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <p>{{user?.lastworktime}}</p>
  </div>
  <div class="col-md-10">
    <h3>{{user?.lastworkplace}}</h3>
    <h4>{{user?.lastworkposition}}</h4>
    <p><span>Обязанности:</span></p>
    <p>{{user?.lastworkduties}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <p>{{user?.secondworktime}}</p>
  </div>
  <div class="col-md-10">
    <h3>{{user?.secondworkplace}}</h3>
    <h4>{{user?.secondworkposition}}</h4>
    <p><span>Обязанности:</span></p>
    <p>{{user?.secondworkduties}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <p>{{user?.thirdworktime}}</p>
  </div>
  <div class="col-md-10">
    <h3>{{user?.thirdworkplace}}</h3>
    <h4>{{user?.thirdworkposition}}</h4>
    <p><span>Обязанности:</span></p>
    <p>{{user?.thirdworkduties}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <p>{{user?.forthworktime}}</p>
  </div>
  <div class="col-md-10">
    <h3>{{user?.forthworkplace}}</h3>
    <h4>{{user?.forthworkposition}}</h4>
    <p><span>Обязанности:</span></p>
    <p>{{user?.forthworkduties}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4><span>Образование:</span></h4>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <p>{{user?.education}}</p>
  </div>
  <div class="col-md-10">
    <h3>{{user?.university}}</h3>
    <h4>{{user?.degree}}</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4><span>Ключевые навыки:</span></h4>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <p><span>Знание языков</span></p>
  </div>
  <div class="col-md-10">
    <p>{{user?.languages}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <p><span>Навыки</span></p>
  </div>
  <div class="col-md-10">
    <p>{{user?.skills}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4><span>Дополнительная информация:</span></h4>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <p><span>Обо мне</span></p>
  </div>
  <div class="col-md-10">
    <p>{{user?.About}}</p>
  </div>
</div>


